.dashboard {
  // background-color: rgba($color: #036, $alpha: 0.2);
  width: 100%;
  margin-left: 282px;
  margin-right: 20px;
  transition: 250ms;
  height: 80%;
  margin-top: 20px;
  z-index: inherit;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 306px);
  grid-gap: 20px;

  &__action-top-right {
    font-size: 13px;
    font-weight: 500;
    position: absolute;
    top: 20px;
    right: 20px;
    text-decoration: underline;
    cursor: pointer;
  }

  .movies-watched {
    grid-row: 1/3;
  }

  .my-coupons {
    grid-column: 2/4;
  }

  &__hero {
    font-size: 72px;
    color: var(--dark-almost-black);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}

.smiley-icon {
  background-image: url(#{$baseUrl}asset/image/smily.svg);
  width: 36px;
  height: 36px;
  margin: 0 auto;
  margin-top: 24px;
  margin-bottom: 26px;
}

.card-title {
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.card-description {
  font-size: 14px;
  text-align: center;
}

// Movie
.movie__list {
  overflow-y: auto;
}

.movie__play {
  grid-column: 3/4;

  .button {
    cursor: pointer;
  }
}

.movie__info,
.movie__play {
  align-self: center;
}

.movie__title {
  font-size: 14px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.movie__year {
  font-size: 12px;
}

.movie__thumb img {
  border-radius: 6px;
}

.movie__grid {
  display: grid;
  grid-template-columns: 90px 1fr auto;
  grid-gap: 10px;
  padding: 6px 0 6px 20px;

  &:hover {
    background-color: var(--background-light-hover);
  }
}

// Coupon

.coupon__grid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: auto 1fr auto;
  height: 85px;
  position: relative;
  margin-right: -20px;
  margin-left: -20px;
  padding: 0 20px;
  overflow: hidden;
  cursor: pointer;

  &:hover::before {
    transform: scaleX(1.5) skewX(45deg);
  }

  &::before {
    transform: scaleX(0) skewX(45deg);
    content: "";
    position: absolute;
    transition: 500ms;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--ticket-hover);
    z-index: -1;
  }
}

.coupon__ticket {
  background-image: url(#{$baseUrl}asset/image/ticket.svg);
  background-repeat: no-repeat;
  background-position: center center;
  width: 24px;
}

.coupon__action,
.coupon__info {
  align-self: center;
}

.coupon__title {
  font-size: 14px;
  font-weight: 500;
}

.coupon__expires {
  font-size: 12px;
}
