.sidebar {
  width: 90px;
  transition: 250ms;
  background-color: var(--dark-background);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9999999999;

  &__title-wrapper {
    margin: 0;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    color: white;
  }

  &__menu-input {
    display: none;

    &:checked + label {
      color: rgba($color: #fff, $alpha: 1);

      &::before {
        background-color: rgba($color: #fff, $alpha: 0.1);
      }
    }
  }

  &__title {
    font-weight: normal;
    margin: 0;
    font-size: 20px;
    height: 24px;
    line-height: 24px;
    text-transform: uppercase;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
