.tooltip {
  border: 1px solid var(--background-gray);
  position: absolute;
  background-color: #fff;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28px;
  padding: 0 24px;
  z-index: 1;
  width: 95px;
  border-radius: 6px;
  opacity: 0;
  transition: 250ms;
  pointer-events: none;

  right: -105px;
  top: -2px;

  &::before {
    content: "";
    border: 1px solid var(--background-gray);
    position: absolute;
    background-color: white;
    clip-path: polygon(0 0, 0 100%, 100% 0);
    left: -5px;
    top: 8px;
    width: 8px;
    height: 8px;
    transform: rotateZ(-45deg);
  }
}
