:root {
  --dark-background: #1b1a2d;
  --dark-almost-black: #141414;
  --action-green: #00bd71;
  --background-light-hover: #f2f6f9;
  --background-light: #d5dee7;
  --background-body: #d9dde3;
  --background-gray: #9eaaba;
  --background-dark: #4f5168;

  --animate-duration: 1s;
  --animate-delay: 1s;
  --animate-repeat: 1;
}
