@import "./font";

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background-body);
}

body {
  font-family: Roboto;
}

.content {
  // padding: 1rem;
  background-color: rgba(255, 255, 255, 0.9);
  height: 100%;
  display: flex;
}
