@import "variable";

@font-face {
  font-family: "#{$icomoon-font-family}";
  src: url("#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?42b3bh1") format("truetype"),
    url("#{$icomoon-font-path}/#{$icomoon-font-family}.woff?42b3bh1") format("woff"),
    url("#{$icomoon-font-path}/#{$icomoon-font-family}.svg?42b3bh1##{$icomoon-font-family}") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="md-"],
[class*=" md-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "#{$icomoon-font-family}" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.md-clock {
  &:before {
    content: $md-clock;
  }
}
.md-film {
  &:before {
    content: $md-film;
  }
}
.md-plus {
  &:before {
    content: $md-plus;
  }
}
.md-chevron-right {
  &:before {
    content: $md-chevron-right;
  }
}
.md-speak {
  &:before {
    content: $md-speak;
  }
}
.md-user {
  &:before {
    content: $md-user;
  }
}
.md-bonus {
  &:before {
    content: $md-bonus;
  }
}
.md-card {
  &:before {
    content: $md-card;
  }
}
.md-play {
  &:before {
    content: $md-play;
  }
}
