$icomoon-font-family: "md" !default;
$icomoon-font-path: "asset/font" !default;

$md-clock: "\e900";
$md-film: "\e901";
$md-plus: "\e902";
$md-chevron-right: "\e903";
$md-speak: "\e904";
$md-user: "\e905";
$md-bonus: "\e906";
$md-card: "\e907";

