.user-panel {
  &__header {
    display: grid;
    padding: 0 20px;
    grid-template-columns: auto 1fr auto;
    grid-gap: 12px;
    box-shadow: inset 0px -1px 0px rgba($color: #fff, $alpha: 0.1);
  }

  &__body {
    padding: 20px 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    .progress-bar {
      margin-bottom: 5px;
    }
  }

  &__footer {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__progress-bar-wrapper {
    grid-column: 1/4;
  }

  &__info-bottom,
  &__info-top {
    display: flex;
    justify-content: space-between;
    color: white;
  }

  &__info-top {
    font-weight: bold;
    font-size: 14px;
    margin-top: 5px;
  }

  &__info-bottom {
    font-size: 12px;
  }

  &__id {
    color: var(--background-light);
  }

  &__score {
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    color: white;
  }

  &__star {
    width: 24px;
    height: 24px;
    background-image: url(/asset/image/star.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    // align-self: center;
    justify-self: center;

    &::after {
      content: attr(data-number);
      position: absolute;
    }
  }
}

#toggle-user-pannel {
  display: none;

  &:checked ~ .user-panel__body {
    height: 0;
    overflow: hidden;
    padding: 0;
  }
}
