.user-panel
  input(type="checkbox" id="toggle-user-pannel")
  .user-panel__header
    .user-panel__star(data-number="8")
    .user-panel__id johndoe2020
    .user-panel__toggle
      +label(size="tiny-round", icon="chevron-right", to="toggle-user-pannel")

    .user-panel__progress-bar-wrapper
      +progressbar('active', 55)

  .user-panel__body
    +label(size="normal", icon="film", to="te-n-dinti")
      +tooltip('middle-right', '1,846')
    .user-panel__hide-small
      .user-panel__score 1.846
      +progressbar('normal', 75)
      .user-panel__info-top
        span 1,403
        span 546
      .user-panel__info-bottom
        span Movies seen
        span Movies until next level
  .user-panel__footer
    +button("l", "secondary", "button")
    +button("l", "primary", "button")
    +button("l", "primary", "button", "plus")
